# ==========================================================
# Copyright (c) 2026 ArtistBots 
# All Rights Reserved.
#
# Project      : COPYxMUSIC Telegram Music Bot
# Powered By   : COPYxMUSIC
# Type         : API Based Telegram Music Bot
#
# Bot          : @COPYxMUSIC_BOT
# Channel      : https://t.me/CopymusicOfficial
# GitHub       : https://github.com/elevenyts/ArtistMusic
#
# Unauthorized copying, modification, or redistribution
# of this source code without permission is prohibited.
# ==========================================================
API_ID=29308061
API_HASH=462de3dfc98fd938ef9c6ee31a72d099
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=
STRING_SESSION=
ARTISTBOTS_API_URL=
ARTISTBOTS_KEY=

SUPPORT_CHANNEL=https://t.me/CopymusicOfficial
SUPPORT_CHAT=https://t.me/CopymusicOfficial
