API_ID=
API_HASH=
BOT_TOKEN=
OWNER_ID=
LOGGER_ID=
MONGO_DB_URI=
SESSION_SECRET=
SESSION_SECRET2=
SESSION_SECRET3=
BOT_USERNAME=COPYxMUSIC_BOT
SUPPORT_CHANNEL=https://t.me/CopymusicOfficial
SUPPORT_CHAT=https://t.me/CopymusicOfficial
UPDATES_URL=https://t.me/CopymusicOfficial
OWNER_URL=https://t.me/CopymusicOfficial
ENABLE_YOUTUBE_API=False
ENABLE_COOKIES_FALLBACK=True
YOUTUBE_COOKIES=
COOKIE_URL=
DURATION_LIMIT=300
QUEUE_LIMIT=30
PLAYLIST_LIMIT=20
VIDEO_PLAY=True
VIDEO_MAX_HEIGHT=1080
AUTO_END=False
AUTO_LEAVE=False
THUMB_GEN=True
